@tailwind base;
@tailwind components;
@tailwind utilities;



#popup {
  margin: 0;
  background: radial-gradient(circle at bottom, #5c006e, #2a022f, #4b024f, #000000);
  color: white;
  font-family: Arial, sans-serif;
}


